################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobileApp/packages
/MobileApp/.vs/MobileApp
